/*媒体查询*/
/*屏蔽默认样式*/
@media screen and (max-width: 767px){
    .navbar-nav > li > a span:not(.badge), .navbar-nav > li > a .icon-submenu{
        display: inline-block;
    }
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){
    /* 兼容iphone5,因为5和4的屏幕宽度一样 */
    .navbar-nav > li > a span:not(.badge), .navbar-nav > li > a .icon-submenu{
        display: inline-block;
    }
}
@media only screen and (max-device-width :480px){
    navbar-nav > li > a span:not(.badge), .navbar-nav > li > a .icon-submenu{
        display: inline-block;
    }
}
@media only screen and (min-device-width :481px){
    navbar-nav > li > a span:not(.badge), .navbar-nav > li > a .icon-submenu{
        display: inline-block;
    }
}

/*6*/
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    navbar-nav > li > a span:not(.badge), .navbar-nav > li > a .icon-submenu{
        display: inline-block;
    }
}

/*6+*/
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    navbar-nav > li > a span:not(.badge), .navbar-nav > li > a .icon-submenu{
        display: inline-block;
    }
}

/*魅族*/
@media only screen and (min-device-width :1080px) and (-webkit-min-device-pixel-ratio : 2.5){
    navbar-nav > li > a span:not(.badge), .navbar-nav > li > a .icon-submenu{
        display: inline-block;
    }
}

/*mate7*/
@media only screen and (min-device-width :1080px) and (-webkit-min-device-pixel-ratio : 3){
    navbar-nav > li > a span:not(.badge), .navbar-nav > li > a .icon-submenu{
        display: inline-block;
    }
}

/*4 4s*/
@media only screen and (device-height :480px) and (-webkit-device-pixel-ratio:2){
    navbar-nav > li > a span:not(.badge), .navbar-nav > li > a .icon-submenu{
        display: inline-block;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    navbar-nav > li > a span:not(.badge), .navbar-nav > li > a .icon-submenu{
        display: inline-block;
    }
}

/* 平板之类的宽度 1024 以下设备 */
@media only screen and (min-width: 321px) and (max-width: 1024px) {
    navbar-nav > li > a span:not(.badge), .navbar-nav > li > a .icon-submenu{
        display: inline-block;
    }
    .brand{
        display: none;
    }
}

/* PC客户端或大屏幕设备: 1028px 至更大 */
@media only screen and (min-width: 1029px) {
    navbar-nav > li > a span:not(.badge), .navbar-nav > li > a .icon-submenu{
        display: inline-block;
    }
}

/* 竖屏 */
@media screen and (orientation:portrait) and (max-width: 720px) {
    navbar-nav > li > a span:not(.badge), .navbar-nav > li > a .icon-submenu{
        display: inline-block;
    }
}

/* 横屏 */
@media screen and (orientation:landscape){
    navbar-nav > li > a span:not(.badge), .navbar-nav > li > a .icon-submenu{
        display: inline-block;
    }
}