<!doctype html>
<html lang="en">

<head>
	<title>内容管理</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="scripts/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="scripts/lib/linearicons/style.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="apple-touch-icon" sizes="76x76" href="img/log.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/logo.png">
	<script src="scripts/lib/jquery/jquery.min.js"></script>
	<script src="scripts/lib/vue.js"></script>
	<script src="scripts/common/api.js"></script>
	<script src="scripts/common/common.js"></script>
	<!--<script src="scripts/rightManagement.js"></script>-->
	<script src="scripts/acount.js"></script>
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html"><img src="img/logo.png" width="44" height="44" alt="Klorofil Logo" class="img-responsive logo"></a>
				<span>密码管理系统</span>
			</div>
			<div class="container-fluid">
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<!--<img src="img/user.png" class="img-circle" alt="Avatar">-->
								<span>{{username}}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<!--<li v-on:click="personalProfile"><a href="#"><i class="lnr lnr-user"></i>
									<span>个人资料</span></a></li>-->
								<li v-on:click="personalProfile"><a href="#"><i class="lnr lnr-cog"></i> <span>修改密码</span></a></li>
								<li v-on:click="loginOut"><a href="#"><i class="lnr lnr-exit"></i> <span>退出</span></a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li v-for="item in menus">
							<a v-bind:href="'#'+item.menuName" data-toggle="collapse" class="collapsed"><i v-bind:class="item.icon"></i>
								<span>{{item.title}}</span><i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div :id="item.menuName" class="collapse ">
								<ul class="nav" v-for="children in item.children">
									<li><a :href="children.link" class="">{{children.title}}</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
			<div class="shrink" v-on:click="shrink">
				&lt;
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<div class="pull-right">
								<button class="btn btn-primary ml4" type="button" v-on:click="showListFieldControl">
									<span class="custom_list"><i class="glyphicon glyphicon-list"></i>&nbsp;显示字段控制</span>
								</button>
							</div>
							<div class="pull-right"v-if="controller.accessInformationCreate">
								<button class="btn btn-primary ml4" type="button" v-on:click="showCreateContent">
									<span class="custom_list" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i>&nbsp;创建内容</span>
								</button>
							</div>
							<div class="pull-right" v-if="controller.accessInformationExcelReport">
								<button class="btn btn-primary ml4" type="button" v-on:click="downloadModel">
									<span class="custom_list" href="javascript:void(0)"><i class="glyphicon glyphicon-arrow-down"></i>&nbsp;下载模板</span>
								</button>
							</div>
							<div class="pull-right" v-if="controller.accessInformationImportExcel">
								<button class="btn btn-primary ml4" type="button" v-on:click="uploadModel">
									<span class="custom_list" href="javascript:void(0)"><i class="glyphicon glyphicon-arrow-up"></i>&nbsp;导入信息</span>
								</button>
							</div>
							<!--<div class="pull-right">
								<button class="btn btn-primary ml4" v-on:click="toRelationPage">
									<i class="glyphicon glyphicon-transfer"></i>关联字段
								</button>
							</div>
							<div class="pull-right">
								<button class="btn btn-primary ml4" v-on:click="showAddField">
									<i class="glyphicon glyphicon-plus"></i>添加字段
								</button>
							</div>-->
							<h3 class="panel-title">内容管理</h3>
						</div>
					</div>
					<div class="panel panel-headline">
						<div class="row content-header-row">
							<div class=".col-lg-6 col-md-8 metric" style="margin-left: 16px;padding-top:26px">
								<label>公司名称：</label>
								<select class="mr20" style="position: relative;top: -10px;height: 24px;">
									<option value="0">所有公司</option>
									<option v-for="item in companneyList" v-bind:value="item.id">{{item.name}}</option>
									<!--<option value="1">瑞辉医疗</option>
									<option value="2">瑞辉医疗</option>
									<option value="3">瑞辉医疗</option>-->
								</select>
								<label>字段名称：</label>
								<select style="position: relative;top: -10px;height: 24px;">
									<option value="0">全局查找</option>
									<option v-for="item in showRelationFields" v-if="item.isEncrypt" class="color-red" v-bind:value="item.name">{{item.comment}}</option>
									<option v-for="item in showRelationFields" v-if="item.isEncrypt == 0" v-bind:value="item.name">{{item.comment}}</option>
									<!--<option value="1">字段2</option>
									<option value="2">字段3</option>
									<option value="3">字段4</option>-->
								</select>
							</div>
							<div class="col-md-3 pull-left">
								<div class="input-group search-container pull-right">
									<input type="text" class="form-control" placeholder="Search for..." v-model="searchText">
									<span class="input-group-btn">
                                    <button class="btn btn-default" type="button" v-on:click="search">搜索</button>
                                  </span>
								</div>
							</div>
							<!--<div class="col-md-2 pull-right metric mr20">-->
								<!--<button class="btn btn-primary pull-right" type="button" v-on:click="showListFieldControl">-->
									<!--<span class="custom_list"><i class="glyphicon glyphicon-list"></i>&nbsp;显示字段控制</span>-->
								<!--</button>-->
								<!--<div class="input-group search-container pull-right">
									<input type="text" class="form-control" placeholder="Search for...">
									  <span class="input-group-btn">
										<button class="btn btn-default" type="button">搜索</button>
									  </span>
								</div>&lt;!&ndash; /input-group &ndash;&gt;-->
							<!--</div>-->
							<!--<div class="col-md-2 pull-right metric">
								<button class="btn btn-primary pull-right" type="button">
									<span class="custom_list" data-toggle="modal" data-target="#add_content"><i class="glyphicon glyphicon-plus"></i>&nbsp;创建内容</span>
								</button>
							</div>
							<div class="col-md-2 pull-right metric">
								<button class="btn btn-primary pull-right" type="button" v-on:click="downloadModel">
									<span class="custom_list" href="javascript:void(0)"><i class="glyphicon glyphicon-arrow-down"></i>&nbsp;下载模板</span>
								</button>
							</div>
							<div class="col-md-2 pull-right metric">
								<button class="btn btn-primary pull-right" type="button" v-on:click="uploadModel">
									<span class="custom_list" href="javascript:void(0)"><i class="glyphicon glyphicon-arrow-up"></i>&nbsp;导入信息</span>
								</button>
							</div>-->
							<!--<div class="col-md-6">
								<div class="metric">
									<button type="button" class="btn btn-primary">复制</button>
									<div class="btn-group" role="group" aria-label="...">
										<button type="button" class="btn btn-success">CSV</button>
										<button type="button" class="btn btn-info">EXCEL</button>
										<button type="button" class="btn btn-success">PDF</button>
									</div>
									<button type="button" class="btn btn-primary">打印</button>
								</div>
							</div>-->
						</div>
						<div class="row content-header-row">
							<div class="col-md-12">
								<div class="metric" style="padding-top: 0px;">
									显示 <select style="height: 24px;" v-model="pagesize">
									<option>5</option>
									<option>10</option>
									<option>15</option>
									<option>20</option>
									<option>50</option>
								</select> 项结果
								</div>
							</div>
						</div>
						<table class="table table-striped table-bordered data_table" v-if="controller.accessInformationList">
							<thead>
								<tr>
									<th v-for="item in tablesTitle" v-bind:data-key="item.key">{{item.title}}</th>
									<th class="operate">操作</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="item in arrayDataPage">
									<td v-for="column in item">{{column}}</td>
									<td>
										<button class="btn btn-danger btn-xs" v-on:click="show_modifyTd($event)" v-if="controller.accessInformationEdit">修改</button>
										<button class="btn btn-danger btn-xs" v-on:click="show_delTd($event)" v-if="controller.accessInformationDelete">删除</button>
										<button class="btn btn-danger btn-xs" v-on:click="details($event)">详情</button>
									</td>
								</tr>
							</tbody>
						</table>
						<ul class="pagination pull-right">
							<li class="prev_page_btn disabled">
								<a href="javascript:void(0)" v-on:click="prevPage">上一页</a></li>
							<li v-for="count in pageCount" v-on:click="changePage($event)" v-bind:class="'page_'+count">
								<a href="javascript:void(0)">{{count}}</a></li>
							<li class="next_page_btn"><a href="javascript:void(0)" v-on:click="nextPage">下一页</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<div class="right_details">
			<div class="d_con">
						<span class="close_btn glyphicon glyphicon-remove" v-on:click="closeDetail">
						</span>
				<div class="title">
					<span>详情</span>
				</div>
				<table class="table table-bordered">
					<tbody class="info">
					<tr v-for="item in detailTablesTitle">
						<td>{{item.title}}</td>
						<td>{{item.content}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<div class="operate_pop">
			<!--添加内容-->
			<div class="modal fade" id="add_content" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title">创建内容</h4>
						</div>
						<form class="form-horizontal create_content" role="form" method="post" action="">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label"><b style="vertical-align: middle;"></b>公司选择：</label>
									<div class="col-sm-9">
										<div class="role_content_list">
											<select class="form-control">
												<!--<option value="0">所有公司</option>-->
												<option v-for="item in companneyList" v-bind:value="item.id">{{item.name}}</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<!--<input type="hidden" name="requestType" value="create">-->
							<div class="modal-body" v-for="item in createContentComment">
								<!--<div class="form-group" v-for="item in tablesTitle">
									<label class="col-sm-3 control-label  color-red  "><b style="vertical-align: middle;"></b>{{item}}：</label>
									<div class="col-sm-9">
										<input type="text" class="form-control name" name="name">
									</div>
								</div>-->
								<div class="form-group">
									<label v-if="item.isEncrypt" class="col-sm-3 control-label color-red"><b style="vertical-align: middle;"></b>{{item.comment}}：</label>
									<label v-else class="col-sm-3 control-label"><b style="vertical-align: middle;"></b>{{item.comment}}：</label>
									<div class="col-sm-9">
										<input type="text" class="form-control name'" v-bind:name="item.name" v-bind:data-id="item.id">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label"><b style="vertical-align: middle;"></b>授权角色：</label>
									<div class="col-sm-9">
										<div class="role_content_list" v-for="role in createContentRole" v-bind:class="item.name">
											<!--<input type="checkbox" class="is_encrypt" name="is_encrypt">-->
											<!--<select class="role_selected" v-for="role in createContentRole">-->
											{{role.name}}
											<input type="checkbox" v-bind:value="role.id">
											<!--<option v-for="role in createContentRole" v-bind:value="role.id">{{role.name}}</option>-->
											<!--<option value="2">角色1</option>-->
											<!--<option value="3">角色1</option>-->
											<!--<option value="4">角色1</option>-->
											<!--<option value="5">角色1</option>-->
											<!--</select>-->
										</div>
									</div>
								</div>
								<!--<div class="form-group">
									<label class="col-sm-2 control-label  color-red"><b style="vertical-align: middle;"></b>是否加密：</label>
									<div class="col-sm-10">
										<input type="text" class="form-control name" name="slug">
									</div>
								</div>-->
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
								<button type="button" class="btn btn-primary btn-save" v-on:click="createContent">创建</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!--上传文件-->
			<div class="modal fade" id="upload_file" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title">上传文件</h4>
						</div>
						<form class="form-horizontal create_content" role="form" method="post" id="updateFile">
							<!--<input type="hidden" name="requestType" value="create">-->
							<div class="modal-body">
								<input type="file" class="excel_file" name="updateInformation">
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
								<button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="uploadFile">上传</button>
								<!--<button type="button" class="btn btn-primary btn-save" v-on:click="uploadInfoSuc">提交</button>-->
							</div>
						</form>
					</div>
				</div>
			</div>
			<!--上传信息-->
			<div class="modal fade" id="upload_content" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title">上传信息补充</h4>
						</div>
						<form class="form-horizontal create_content" role="form" method="post" id="updateInformation">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label"><b style="vertical-align: middle;"></b>公司选择：</label>
									<div class="col-sm-9">
										<div class="role_content_list">
											<select class="form-control">
												<!--<option value="0">所有公司</option>-->
												<option v-for="item in companneyList" v-bind:value="item.id">{{item.name}}</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<!--<input type="hidden" name="requestType" value="create">-->
							<div class="modal-body" v-for="item in createContentComment">
								<!--<div class="form-group" v-for="item in tablesTitle">
									<label class="col-sm-3 control-label  color-red  "><b style="vertical-align: middle;"></b>{{item}}：</label>
									<div class="col-sm-9">
										<input type="text" class="form-control name" name="name">
									</div>
								</div>-->
								<div class="form-group">
									<label class="col-sm-12 control-label column_field" style="text-align: center" v-bind:name="item.name" v-bind:data-id="item.id"><b style="vertical-align: middle;"></b>{{item.comment}}：</label>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label  text"><b style="vertical-align: middle;"></b>授权角色：</label>
									<div class="col-sm-9">
										<div class="pt7 role_content_list" v-for="role in createContentRole" v-bind:class="item.name">
											<!--<input type="checkbox" class="is_encrypt" name="is_encrypt">-->
											<!--<select class="role_selected" v-for="role in createContentRole">-->
											{{role.name}}
											<input type="checkbox" v-bind:value="role.id" v-bind:name="item.name">
											<!--<option v-for="role in createContentRole" v-bind:value="role.id">{{role.name}}</option>-->
											<!--<option value="2">角色1</option>-->
											<!--<option value="3">角色1</option>-->
											<!--<option value="4">角色1</option>-->
											<!--<option value="5">角色1</option>-->
											<!--</select>-->
										</div>
									</div>
								</div>
								<!--<div class="form-group">
									<label class="col-sm-2 control-label  color-red"><b style="vertical-align: middle;"></b>是否加密：</label>
									<div class="col-sm-10">
										<input type="text" class="form-control name" name="slug">
									</div>
								</div>-->
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
								<!--<button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="uploadFile">上传</button>-->
								<button type="button" class="btn btn-primary btn-save" v-on:click="uploadInfoSuc">提交</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!--修改内容-->
			<div class="modal fade" id="modify_content" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title">修改内容</h4>
						</div>
						<form class="form-horizontal create_content" role="form" method="post" action="">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label"><b style="vertical-align: middle;"></b>公司选择：</label>
									<div class="col-sm-9">
										<div class="role_content_list">
											<select class="form-control">
												<!--<option value="0">所有公司</option>-->
												<option v-for="item in companneyList" v-bind:value="item.id">{{item.name}}</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<!--<input type="hidden" name="requestType" value="create">-->
							<div class="modal-body" v-for="item in getModifyContent">
								<!--<div class="form-group" v-for="item in tablesTitle">
									<label class="col-sm-3 control-label  color-red  "><b style="vertical-align: middle;"></b>{{item}}：</label>
									<div class="col-sm-9">
										<input type="text" class="form-control name" name="name">
									</div>
								</div>-->
								<div class="form-group">
									<label class="col-sm-3 control-label  color-red" v-if="item.is_encrypt"><b style="vertical-align: middle;"></b>{{item.comment}}：</label>
									<label class="col-sm-3 control-label" v-else><b style="vertical-align: middle;"></b>{{item.comment}}：</label>
									<div class="col-sm-9">
										<input type="text" class="form-control name'" v-bind:name="item.name" v-bind:data-id="item.id" v-model="item.content">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label"><b style="vertical-align: middle;"></b>授权角色：</label>
									<div class="col-sm-9">
										<div class="pt7 role_content_list" v-for="role in item.modifyContentRole" v-bind:class="item.name">
											<!--<input type="checkbox" class="is_encrypt" name="is_encrypt">-->
											<!--<select class="role_selected" v-for="role in createContentRole">-->
											<div>

											</div>
											{{role.name}}{{role.isSelected}}
											<input v-if="role.isSelected" type="checkbox" v-bind:value="role.id" checked="true" name="name">
											<input type="checkbox" v-bind:value="role.id" v-else>
											<!--<option v-for="role in createContentRole" v-bind:value="role.id">{{role.name}}</option>-->
											<!--<option value="2">角色1</option>-->
											<!--<option value="3">角色1</option>-->
											<!--<option value="4">角色1</option>-->
											<!--<option value="5">角色1</option>-->
											<!--</select>-->
										</div>
									</div>
								</div>
								<!--<div class="form-group">
									<label class="col-sm-2 control-label  color-red"><b style="vertical-align: middle;"></b>是否加密：</label>
									<div class="col-sm-10">
										<input type="text" class="form-control name" name="slug">
									</div>
								</div>-->
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
								<button type="button" class="btn btn-primary btn-save" v-on:click="modifyContent">修改</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!--删除内容-->
			<div class="modal fade" id="del_content" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title">删除内容</h4>
						</div>
						<div class="modal-body">
							<p>确定删除这行信息吗？</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							<button type="button" class="btn btn-primary btn-save" v-on:click="delContent($event)">删除</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--显示列表字段-->
		<div class="modal fade" id="list_menu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span></button>
						<h4 class="modal-title" id="myModalLabel">显示列表字段控制</h4>
					</div>
					<div class="modal-body">
						<form action="" class="form-horizontal">
							<div class="form-group">
								<div class="col-sm-12">
									<div class="filed_box">
										<div class="title mb_10"><h4>客户字段控制</h4></div>
										<div class="checkbox_list" v-for="item in showRelationFields">
											<div class="checkbox">
												<label class="checkbox-inline field_checkbox">
												<div class="icheckbox_flat-blue" style="position: relative;">
													<input v-if="item.isSelected" type="checkbox" value="" v-bind:data-id="item.id" v-bind:data-name="item.column" v-bind:data-checked="item.isSelected" checked="true" v-on:click="changeShowField($event)">
													<input type="checkbox" value="" v-bind:data-id="item.id" v-bind:data-checked="item.isSelected" v-bind:data-name="item.column" v-on:click="changeShowField($event)" v-else>
												</div>
												{{item.comment}} </label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<hr class="f-line">
							<div class="form-group">
								<div class="col-sm-12">
									<div class="filed_box">
										<div class="title mb_10"><h5>原来已选择字段：</h5></div>
										<div class="btn-group ui-sortable" id="field_list" role="group">
											<div class="relation_btn_list" v-for="item in selectedRelationFields">
												<button class="btn btn-primary" v-bind:data-id="item.id" @drop='drop($event)' @dragstart='drag($event)' @dragover='allowDrop($event)' draggable="true" type="button">{{item.name}}</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--<input type="hidden" name="requestType" value="reset_and_order_column">-->
							<!--<input type="hidden" name="__hash__" value="fb9f13b75e3850fa1589175c92d4a72c_784ce3d4372e035d383c9e8b6f0eac89">-->
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="refresh">取消</button>
						<button type="button" class="btn btn-primary btn-save" v-on:click="saveShowField">更改</button>
					</div>
				</div>
			</div>
		</div>
		<!--修改密码-->
		<div class="modal fade" id="modify_password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">修改密码</h4>
					</div>
					<form class="form-horizontal modify_field" role="form" method="post" action="">
						<!--<input type="hidden" name="requestType" value="create">-->
						<div class="modal-body">
							<!--<div class="form-group" v-for="item in tablesTitle">
                                <label class="col-sm-3 control-label  color-red  "><b style="vertical-align: middle;"></b>{{item}}：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control name" name="name">
                                </div>
                            </div>-->
							<div class="form-group">
								<!--<input class="id hide" v-model="selectTd.id">-->
								<label class="col-sm-3 control-label"><b style="vertical-align: middle;"></b>原密码：</label>
								<div class="col-sm-9">
									<input type="password" class="form-control password" name="password" v-model="oldPassword">
								</div>
							</div>
							<div class="form-group">
								<!--<input class="id hide" v-model="selectTd.id">-->
								<label class="col-sm-3 control-label"><b style="vertical-align: middle;"></b>新密码：</label>
								<div class="col-sm-9">
									<input type="password" class="form-control password" name="password" v-model="password">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label"><b style="vertical-align: middle;"></b>确认密码：</label>
								<div class="col-sm-9">
									<input type="password" class="form-control ensurePassword" name="ensurePassword" v-model="ensurePassword">
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							<button type="button" class="btn btn-primary btn-save" v-on:click="modPassword">修改</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!--修改密码成功-->
		<div class="modal fade" id="modify_password_suc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">恭喜</h4>
					</div>
					<div class="modal-body">
						<p>密码修改成功,点击确定重新登录</p>
					</div>
					<div class="modal-footer text-center">
						<!--<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>-->
						<button type="button" class="btn btn-primary btn-save" v-on:click="toLogin">确定</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="scripts/lib/jquery/jquery.min.js"></script>
	<script src="scripts/lib/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
