<!doctype html>
<html lang="en">

<head>
	<title>密码管理首页</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="scripts/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="scripts/lib/linearicons/style.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/index.css">
	<link rel="apple-touch-icon" sizes="76x76" href="img/log.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/logo.png">
	<script src="scripts/lib/jquery/jquery.min.js"></script>
	<script src="scripts/lib/vue.js"></script>
	<script src="scripts/common/common.js"></script>
	<script src="scripts/index.js"></script>
	<script src="scripts/common/api.js"></script>
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html"><img src="img/logo.png" width="44" height="44" alt="Klorofil Logo" class="img-responsive logo"></a>
				<span>密码管理系统</span>
			</div>
			<div class="container-fluid">
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<!--<img src="img/user.png" class="img-circle" alt="Avatar">-->
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span>{{username}}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li v-on:click="personalProfile"><a href="#"><i class="lnr lnr-cog"></i> <span>修改密码</span></a></li>
								<li v-on:click="loginOut"><a href="#"><i class="lnr lnr-exit"></i> <span>退出</span></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li v-for="item in menus">
							<a v-bind:href="'#'+item.menuName" data-toggle="collapse" class="collapsed"><i v-bind:class="item.icon"></i> <span>{{item.title}}</span><i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div :id="item.menuName" class="collapse ">
								<ul class="nav" v-for="children in item.children">
									<li><a :href="children.link" class="">{{children.title}}</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
			<div class="shrink" v-on:click="shrink">
				&lt;
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">欢迎来到</h3>
							<h2 class="system_title_color">密码管理系统</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!--修改密码-->
		<div class="modal fade" id="modify_password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">修改密码</h4>
					</div>
					<form class="form-horizontal modify_field" role="form" method="post" action="">
						<!--<input type="hidden" name="requestType" value="create">-->
						<div class="modal-body">
							<!--<div class="form-group" v-for="item in tablesTitle">
                                <label class="col-sm-3 control-label  color-red  "><b style="vertical-align: middle;"></b>{{item}}：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control name" name="name">
                                </div>
                            </div>-->
							<div class="form-group">
								<!--<input class="id hide" v-model="selectTd.id">-->
								<label class="col-sm-3 control-label"><b style="vertical-align: middle;"></b>原密码：</label>
								<div class="col-sm-9">
									<input type="password" class="form-control password" name="password" v-model="oldPassword">
								</div>
							</div>
							<div class="form-group">
								<!--<input class="id hide" v-model="selectTd.id">-->
								<label class="col-sm-3 control-label"><b style="vertical-align: middle;"></b>新密码：</label>
								<div class="col-sm-9">
									<input type="password" class="form-control password" name="password" v-model="password">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label"><b style="vertical-align: middle;"></b>确认密码：</label>
								<div class="col-sm-9">
									<input type="password" class="form-control ensurePassword" name="ensurePassword" v-model="ensurePassword">
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							<button type="button" class="btn btn-primary btn-save" v-on:click="modPassword">修改</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!--修改密码成功-->
		<div class="modal fade" id="modify_password_suc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">恭喜</h4>
					</div>
					<div class="modal-body">
						<p>密码修改成功,点击确定重新登录</p>
					</div>
					<div class="modal-footer text-center">
						<!--<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>-->
						<button type="button" class="btn btn-primary btn-save" v-on:click="toLogin">确定</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="scripts/lib/jquery/jquery.min.js"></script>
	<script src="scripts/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
